* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: 1.2rem;
}

nav {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.nav-links {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.6rem;
}

#top {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.box {
    margin: 25px 100px 50px 100px;
    line-height: 2rem;
}

h2 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.rowBox {
    display: flex;
    justify-content: space-around;
}

#topButton {
  cursor: pointer;  
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 20px;
  z-index: 99;
  background-color: black;
  border-radius: 80%;
  outline: none;
  color: white;
  cursor: pointer;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 50%;
    padding: 20px 0 30px;
    line-height: 1;
    background-color: #333333;
    box-shadow: 2px 2px 10px 10px white;
    color: red;
    text-align: center;
    line-height: 1.6;
}

#content > h3 {
    font-size: 2rem;
}

#button,#closeLogin {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100px;
}

.fa {
    font-size: 4rem;
    margin-right: 10px;
}

.fa-arrow-circle-up {
    font-size: 30px;
    margin-left: 8px;
}

.news {
    width: 300px;
}

footer {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    line-height: 2rem;
}

.footerLinkRow {
    display: flex;
    justify-content: space-around;
}

.footerLink {
    font-size: 1.2rem;
    font-weight: bold;
}

.quoteContainer {
    margin: 20px 100px;
    padding: 30px 20px 60px 20px;
    font-size: 2.4rem;
    border: 5px blue double;
    border-radius: 50px 0;
    background-color: black;
    text-align: center;
}

.quote {
    color: white;
}

.author {
    color: red;
    float: right;
}

.nav-links:hover {
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.footerLink:hover {
    font-size: 1.4rem;
    font-weight: bold;
}

h2:hover {
    font-size: 2rem;
    font-weight: bold;
}

.quoteContainer:hover {
    font-size: 2.8rem;
}

#loginButton {
    float: right;
    margin: 10px 20px 0 0;
    padding: 5px;
    font-size: 1.2rem;
    background-color: red;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 30%;
    padding: 20px 0 30px;
    line-height: 1;
    background-color: #333333;
    box-shadow: 2px 2px 10px 10px white;
    color: red;
    text-align: center;
    line-height: 1.6;
    display: none;
}

.loginInput {
   font-size: 1.6rem;
   text-align: left;
   padding-left: 25%;
   color: white;
}

.userIcon {
    font-size: 2.4rem;
}

#user {
    text-align: center;
    float: right;
    margin: 10px 10px 0 0;
}
